.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.chat__avatar{
    height: 80px !important;
    width: 80px !important;

}
.chat__redIcon{
    color: tomato;
    height: 20px;
    width: 0px;
}
.chat:hover{
    opacity: 0.5;
}
